@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Karla", sans-serif;
  }

  :root {
    --primary: #2d2641;
    --primary-100: #c396c6;
    --secondary: #96a9c6;
    --neutral-50: #fff;
    --neutral-500: #837d88;
    --neutral-800: #2c2830;
  }
}

@layer components {
  .container {
    max-width: unset;
    padding-inline: 6.4%;
  }

  @media screen(xl) {
    .container {
      padding-inline: calc(50% - 34.6875rem);
    }
  }

  .title-xl {
    font-family: theme(fontFamily.serif);
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.666667px;
  }

  .title-md {
    font-family: theme(fontFamily.serif);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.555556px;
  }

  .title-sm {
    font-family: theme(fontFamily.serif);
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.375rem;
    letter-spacing: -0.388889px;
  }

  .body-sm {
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 1.5px;
  }

  .body-md {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
  }

  .body-lg {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 1.36364px;
  }

  @media screen(xl) {
    .title-xl {
      font-size: 4.5rem;
      line-height: 4rem;
      letter-spacing: -1px;
    }

    .title-md {
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
  }

  .nav-pattern::after {
    @apply block absolute bg-center bg-no-repeat bg-cover;
    content: "";
    width: 100%;
    padding-bottom: 58.1333333%;
    bottom: 0;
    left: 0;
    background-image: url(/patterns/bg-pattern-mobile-nav.svg);
  }

  @media screen(xl) {
    .nav-pattern::after {
      @apply bg-none;
      width: 0;
      padding-bottom: 0;
    }
  }
}
